<html>

{% load bootstrap3 %}
{% bootstrap_css %} 
{% bootstrap_javascript %}


<style>
h3 {
	padding-left:10px;
}

table {
	background-color:#E6EEF5;
}


</style>


</style>

<div>
	<h3> Survey: {{ title }} </h3>
</div>

<br>

<table class ="table table-bordered">
	<thead>
		<tr>
			<th scope ="col">OCSA Name</th>
			<th scope ="col">Submission Time</th>
			<th scope ="col">Dashboard</th>
			<th scope ="col">Photos</th>
				
		</tr>
	</thead>
	
	<tbody>
		{% for key, value in surveys.items %}
		<tr>
			<td>{{ value.ocsa_name }}</a></td>
			<td>{{ value.submission_time }}</a></td>
			<td>
				<a href="{{ url }}xlsDownload/{{ value.submission_id }}">Download</a>
			</td>
			<td>
			{% if value.has_photos %}
				<a href="{{ url }}photosDownload/{{ value.submission_id }}">Download</a>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table>

</html>
