<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
      h3 {padding:0 10px 0 20px;}
      #lista {background:rgba(255,255,255,0.7);border:1px solid rgba(0,0,0,0.6);border-radius:12px 12px 12px 12px;box-shadow:0 0 16px rgba(0,0,0,0.8), 0 0 60px rgba(0,0,0,0.1) inset;height:300px;padding:10px 0 0;position:absolute;right:5px;top:250px;width:200px;z-index:999;}
      #lista li {border-top:1px solid #36abe6;font-size:11pt;list-style:none outside none;text-shadow:0 1px 0 rgba(255,255,255,0.9);width:130px;}
      #lista li:hover {cursor:pointer;font-weight:700;}
      #lista ul {margin:0;padding:0 0 0 24px;}
      #filter_pane {background:rgba(255,255,255,0.7);border:1px solid rgba(0,0,0,0.6);border-radius:12px 12px 12px 12px;box-shadow:0 0 16px rgba(0,0,0,0.8), 0 0 60px rgba(0,0,0,0.1) inset;height:100px;padding:10px 0 0;position:absolute;right:5px;top:50px;width:200px;z-index:999;}
      .excluded { display: none; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_jN80Yt6QRKv9az9MU7ABMLbOK8g8SFw">
    </script>
    <script type="text/javascript">

      function filterChanged(value) {
        document.getElementById("range_label").innerHTML = 0 + '-' + scores[value];
        for (i in markers) {
          marker = markers[i];
          var li = document.getElementById('marker_'+marker.id);
          if (marker.score > scores[value]) {
            marker.setMap(null);
            li.setAttribute('class', 'excluded');
          } else {
            marker.setMap(mapCanvas);
            li.setAttribute('class', 'included');
          }
        }
      }

      function getIconForScore(score) {
        for (var i = 0; i < scores.length; i++) {
          if (score < scores[i]) {
            return icons[i];
          }
        }
        return icons[icons.length - 1];
      }

      function loadMarkers(data) {
        var bounds = new google.maps.LatLngBounds();

        for (var key in data) {
          createMarker(data[key], key, bounds);
        }
        // Fits the map bounds.
        mapCanvas.fitBounds(bounds);
      }
      
      function createMarker(data_item, id, bounds) {
        var latlng = new google.maps.LatLng(data_item["latlng"][0], data_item["latlng"][1]);
        bounds.extend(latlng);
        var download_url = "/surveydata/docsas/" + data_item["formid"] + "/" + data_item["form_name"] + "/xlsDownload/" + id;
				var text = data_item['personalization_question_3']['answer']
        //var score = parseInt(data_item["total_average"]*100);
				var score = data_item['total_average'];
				//var score = 90;
          
        // Creates a marker.
        var marker = new google.maps.Marker({
          position: latlng,
          map: mapCanvas,
          title: text,
          icon: getIconForScore(score),
          score: score
        });

        // Add id so that we can lookup elements associated with this marker.
        marker.id = id

        markers.push(marker);
          
        // The infoWindow is opened when the sidebar button is clicked.
        google.maps.event.addListener(marker, "click", function(marker, text) {
          // Creates a info window object.
            infoWnd.setContent("<strong>" + text + "</strong><br>" +
              "<br>" + data_item['personalization_question_1']['question'] + ": <strong>" + data_item['personalization_question_1']['answer'] + "</strong>" +
              "<br>" + data_item['personalization_question_2']['question'] + ": <strong>" + data_item['personalization_question_2']['answer'] + "</strong>" +
              "<br>" + data_item['personalization_question_4']['question'] + ": <strong>" + data_item['personalization_question_4']['answer'] + "</strong>" +
              "<br>" + data_item['personalization_question_5']['question'] + ": <strong>" + data_item['personalization_question_5']['answer'] + "</strong>" +
              "<br>" + data_item['personalization_question_6']['question'] + ": <strong>" + data_item['personalization_question_6']['answer'] + "</strong>" +
              "<br>" + data_item['personalization_question_7']['question'] + ": <strong>" + data_item['personalization_question_7']['answer'] + "</strong>" +
              "<br><br>" + "Total Score" + ": <strong>" + score + "%" + "</strong>" +
              "<br><br><a href=\"" + download_url + "\">Download Dashboard</a>");
          infoWnd.open(mapCanvas, marker);
        }.bind(null, marker, text));
          
        // Creates a sidebar button for the marker.
        var ul = document.getElementById("lista_body");
        var li = document.createElement("li");
        li.setAttribute('id', 'marker_' + id);
        li.setAttribute('class', 'included');
        li.innerHTML = text;
        ul.appendChild(li);
  
        //Trigger a click event to marker when the button is clicked.
        google.maps.event.addDomListener(li, "click", function(marker) {
          google.maps.event.trigger(marker, "click");
        }.bind(null, marker));
      }

      var mapCanvas;
      var infoWnd;
      var markers = [];
      var scores, icons;
      function initialize() {
        // Creates data structures for filtering logic.
        scores = [30,55,80,100];
        icons = [
          'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
          'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
          'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
          'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
          ];

        var input =
          document.getElementById('filter_pane').getElementsByTagName('input')[0];
        input.setAttribute('value', scores.length - 1);
        input.setAttribute('max', scores.length - 1);

        // Creates a map object.
        mapCanvas = new google.maps.Map(document.getElementById('map-canvas'));
        infoWnd = new google.maps.InfoWindow();
        mapCanvas.setMapTypeId(google.maps.MapTypeId.ROADMAP);

        var surveyData = {{ surveysJs|safe }};
        loadMarkers(surveyData);
      }
    
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
 
 
  <body>
    <div id="filter_pane">
      <h3> Filter</h3>
      <input type="range" min="0" max="1" value="1" onchange="filterChanged(this.value)"/>
      <span id="range_label">0-100</span>
    </div>

    <div id="lista">
      <h3> Submissions
      </h3>
      <div style=" height: 200px;overflow-y: scroll;">
        <ul id="lista_body">
        </ul>
      </div>
    </div>
  
  <div id="map-canvas"></div>

  </body>
</html>
