<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_jN80Yt6QRKv9az9MU7ABMLbOK8g8SFw">
    </script>
    <script type="text/javascript">
      var surveys = {{ surveysJs|safe }};
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 2
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        for (var key in surveys) {
          var pos = surveys[key];
          if (pos.length == 2 && pos[0] && pos[1]) {
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(parseFloat(pos[0]), parseFloat(pos[1])),
              map: map,
              icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
              title: key
            });
          }
           
        }
        /*
        var redMarker = new google.maps.Marker({
          position: new google.maps.LatLng(-34.397, 150.644),
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });
        var orangeMarker = new google.maps.Marker({
          position: new google.maps.LatLng(34.397, 150.644),
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
        });
        var yellowMarker = new google.maps.Marker({
          position: new google.maps.LatLng(-34.397, -150.644),
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
        });
        var greenMarker = new google.maps.Marker({
          position: new google.maps.LatLng(34.397, -150.644),
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
        */
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>