# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#venv files
venv/

# .pyc files
*.pyc

# .swp files
*.swp

#local settings file
avina_app/local_settings.py

